---
layout: default
---
<div class="post">
  <header class="post-header">
 <img src="{{site.image}}" alt="Placeholder Image" style="max-width: 100%; height: auto;">
   
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
  

    <div class="clearfix">{{ content }}</div>

 
  
  </article>
</div>
