---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>
  
 
{% for hobby in site.hobbies %}
 <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 left-side">
        <img src="{{hobby.image_path}}" alt="Placeholder Image" style="max-width: 100%; height: auto;">
      </div>
      <div class="col-md-6 right-side">
       <h1>{{hobby.title}}</h1>
  <p> {{hobby.text}} <a href="{{ hobby.link1_url }}"> {{ hobby.link1_text }} </a>{{hobby.text2}} <a href="{{ hobby.link2_url }}">{{ hobby.link2_text }}</a></p>
      </div>
    </div>
  <hr>
 
  </div>
{% endfor %}
</div>
